In [1]:
import pandas as pd
from datetime import datetime,timedelta
import numpy as np
from tqdm import tqdm
df = pd.read_csv("result.csv")

In [7]:
df[df.orderid==1955598428]

Empty DataFrame
Columns: [orderid, is_late]
Index: []

In [8]:
df.head()

      orderid  is_late
0  2215676524        0
1  2219624609        0
2  2220979489        0
3  2221066352        0
4  2222478803        0