In [6]:
import pandas as pd
from datetime import datetime,timedelta

In [2]:
df = pd.read_csv("delivery_orders_march.csv",nrows=1000)

In [3]:
df.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ..."
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M..."
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number..."
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...

In [17]:
def utc_to_dt(utc):
    dt = datetime.utcfromtimestamp(utc)+timedelta(hours=8)
    return datetime(year=dt.year,month=dt.month,day=dt.day)

# Example 1

In [18]:
utc_to_dt(1583137548)

datetime.datetime(2020, 3, 2, 0, 0)

In [19]:
utc_to_dt(1583733540)

datetime.datetime(2020, 3, 9, 0, 0)

In [23]:
public_holiday=[datetime(2020,3,8),datetime(2020,3,25),datetime(2020,3,30),datetime(2020,3,31)]

In [25]:
delivery_date = utc_to_dt(1583137548) + timedelta(days=5)
delivery_date

datetime.datetime(2020, 3, 7, 0, 0)

# Example 2

In [26]:
utc_to_dt(1583137548)

datetime.datetime(2020, 3, 2, 0, 0)

In [27]:
utc_to_dt(1583412300)

datetime.datetime(2020, 3, 5, 0, 0)

In [28]:
utc_to_dt(1583850180)

datetime.datetime(2020, 3, 10, 0, 0)

In [29]:
utc_to_dt(1583137548)+timedelta(days=5)

datetime.datetime(2020, 3, 7, 0, 0)

In [30]:
utc_to_dt(1583412300)+timedelta(days=3)

datetime.datetime(2020, 3, 8, 0, 0)

# example 3

In [35]:
pickup = datetime(2020,3,29)
first = pickup+timedelta(days=5)
print(first)
extra = 0
for i in public_holiday:
    if pickup<=i<=first:
        extra+=1
print(extra)
first+timedelta(days=extra)

2020-04-03 00:00:00
2

datetime.datetime(2020, 4, 5, 0, 0)

In [43]:
sla_name = ['Metro Manila','Luzon','Visayas','Mindanao']
sla_matrix = {'Metro Manila':{'Metro Manila':3,'Luzon':5,'Visayas':7,'Mindanao':7},
             'Luzon':{'Metro Manila':5,'Luzon':5,'Visayas':7,'Mindanao':7},
             'Visayas':{'Metro Manila':7,'Luzon':7,'Visayas':7,'Mindanao':7},
             'Mindanao':{'Metro Manila':7,'Luzon':7,'Visayas':7,'Mindanao':7},
             }

In [41]:
seller_add = "Block 2, Lots 2,3,10 & 11, Honest St cor. Determined Street, Calamba Premiere International Park (CPIP), Batino, Calamba, Laguna, Philippines Calamba City Batino Laguna Luzon"
buyer_add =  "unit 2 seaviews castles, Tambo, Paranaque City, Metro Manila, Metro Manila"

In [44]:
for i in sla_name:
    print(seller_add.find(i))

-1
169
-1
-1

In [45]:
for i in sla_name:
    print(buyer_add.find(i))

48
-1
-1
-1

In [22]:
import pandas as pd
from datetime import datetime,timedelta
df = pd.read_csv("delivery_orders_march.csv")

In [23]:
df['pick'].min()

1583079143

In [26]:
df['pick'].max()

1586181429

In [16]:
df['1st_deliver_attempt'].min()

1583131545.0

In [17]:
df['1st_deliver_attempt'].max()

1586267538.0

In [18]:
df['2nd_deliver_attempt'].min()

1583251305.0

In [19]:
df['2nd_deliver_attempt'].max()

1586286669.0

In [24]:
from datetime import datetime,timedelta
def utc_to_dt(utc):
    dt = datetime.utcfromtimestamp(utc)+timedelta(hours=8)
    return datetime(year=dt.year,month=dt.month,day=dt.day)

In [32]:
utc_to_dt(1586181429)

datetime.datetime(2020, 4, 6, 0, 0)

In [6]:
s = utc_to_dt(1583131545)
s

datetime.datetime(2020, 3, 2, 0, 0)

In [33]:
e = utc_to_dt(1586286669)
e

datetime.datetime(2020, 4, 8, 0, 0)

In [9]:
k = s
while k<=e:
    if k.weekday() == 6:
        print(k)
    k+=timedelta(days=1)

2020-03-08 00:00:00
2020-03-15 00:00:00
2020-03-22 00:00:00
2020-03-29 00:00:00
2020-04-05 00:00:00

In [14]:
datetime(2020,4,5)<=datetime(2020,4,4)<=datetime(2020,4,10)

False

In [35]:
e.weekday()

2